.ListElement {
    padding: 5px 10px 0 0;
    display: flex;
    width: 50%;
    cursor: pointer;
}

.info {
    margin: 5px;
    padding: 0 10px;
    width: 100%;
}

.deleteBtn {
    height: 100%;
    width:30px;
}

.cross {
    background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general-76906fbc82f79822625038e272fa3893.png) 4px -144px;
    width: 20px;
    height: 20px;
    margin: 20px 0;
    opacity: 0.3;
}

.listStar {
    background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general-76906fbc82f79822625038e272fa3893.png) 3px -420px;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 20px;
}